torch==1.6.0
open3d==0.9.0.0
opencv-python==4.2.0.32
Flask==1.1.2
google-colab==1.0.0
torch-spline-conv==1.2.0
torchvision==0.2.2.post3
scikit-image==0.15.0
trimesh==3.8.6
gluoncv==0.7.0
pycocotools==2.0
mxnet==1.6.0
tensorboard==2.2.2
torch-cluster==1.5.7
torch-geometric==1.6.1
torch-scatter==2.0.5
torch-sparse==0.6.7
boto3==1.13.15
argparse==1.4.0
Werkzeug==0.16.0
Rtree==0.9.4